@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");
:root {
  --color-primary: #2f3640;
  --color-white: #ffffff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #f1f2f6;
  --color-grey-light-5: #dcdde1;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --line: 1px solid var(--color-grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; } }

body {
  font-family: "Arimo", sans-serif;
  line-height: 1.7;
  font-weight: 400; }

.logo {
  height: 5.5rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    height: 3.5rem;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3); }
    .search__input__input:focus + .search__input__button {
      background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }

.likes {
  position: relative;
  align-self: stretch;
  padding: 0 !important; }
  .likes__field {
    cursor: pointer;
    padding: 0 6rem;
    display: flex;
    font-size: 1.9rem;
    align-items: center;
    height: 100%;
    background-color: var(--color-grey-light-1);
    transition: all 0.3s; }
    .likes__field:hover {
      background-color: var(--color-grey-light-2); }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__link i {
    margin-right: 1.5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem 0.5rem; } }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.result {
  position: relative;
  padding: 2rem; }
  .result__container {
    display: flex;
    flex-direction: column; }

.card {
  height: 40vh;
  border: var(--line); }
  .card__img {
    width: 100%;
    overflow: hidden; }
    .card__img-item {
      object-fit: cover;
      width: 100%;
      height: 25vh; }

.container {
  background-color: var(--color-white);
  width: 100%; }

.header {
  width: 100%;
  height: 10rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  height: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-primary);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.result {
  background-color: var(--color-grey-light-2);
  flex: 1; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-3 {
    margin: 0 2rem;
    width: calc(((100%) / 3) - 4rem); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: calc((100%) / 2); } }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
