////////////////////////////////////////
// LOGO
.logo {
	height: 5.5rem;
	margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH
.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $bp-smallest) {
		order: 1;
		flex: 0 0 100%;
		background-color: var(--color-grey-light-2);
	}

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 100px;
		width: 90%;
		height: 3.5rem;
		transition: all 0.2s;
		margin-right: -3.25rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: var(--color-grey-dark-2);
		}

		&__input:focus + &__button {
			background-color: var(--color-grey-light-3);
		}
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}
}

////////////////////////////////////////
// likes
.likes {
	position: relative;
	align-self: stretch;
	padding: 0 !important;

	&__field {
		cursor: pointer;
		padding: 0 6rem;
		display: flex;
		font-size: 1.9rem;
		align-items: center;
		height: 100%;
		background-color: var(--color-grey-light-1);
		transition: all 0.3s;

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__panel {
		position: absolute;
		right: 0;
		top: 10rem;
		z-index: 100;
		padding: 2rem 0;
		width: 34rem;
		min-height: 10rem;
		background-color: #fff;
		box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s 0.2s;
	}

	&__list {
		position: relative;
		margin: 0 2rem;
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 2rem 1rem;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-grey-light-3);
		}

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__fig {
		position: relative;
		width: 30%;
		margin-right: 1rem;
		display: flex;
		align-items: center;

		img {
			width: 80%;
		}
	}
}

.likes__panel:hover,
.likes__field:hover + .likes__panel {
	visibility: visible;
	opacity: 1;
}

////////////////////////////////////////
// result section

.result {
	position: relative;
	padding: 2rem;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__heading {
		color: var(--color-primary);
		margin-left: 2rem;
	}
}

.card {
	height: 40vh;

	&__content {
		position: relative;
		color: var(--color-white);
		width: 100%;
		height: 100%;

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transEase;
		}

		&-viewIcon {
			font-size: 1.9rem;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);

			@include transEase;
		}

		&-likeIcon {
			font-size: 1.9rem;
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			opacity: 0;
			transform: translateY(-90%);
			-webkit-transform: translateY(-90%);

			@include transEase;
		}

		&-title {
			position: absolute;
			bottom: 2rem;
			left: 1.5rem;
			opacity: 0;
			transform: translateY(90%);
			-webkit-transform: translateY(90%);

			@include transEase;
		}
	}

	&:hover {
		.card__content {
			&-img {
				filter: brightness(15%);
				-webkit-filter: brightness(15%);
			}

			&-viewIcon {
				opacity: 1;
			}

			&-likeIcon {
				opacity: 1;
				transform: translateY(0);
				-webkit-transform: translateY(0);
			}

			&-title {
				opacity: 1;
				transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}
	}
}

.btn-inline {
	color: var(--color-primary);
	font-size: 1.2rem;
	border: none;
	background-color: var(--color-white);
	padding: 1rem 1.5rem;
	border-radius: 10rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
	margin: 1rem 2rem;

	@include transEase;

	&:hover,
	&:active {
		box-shadow: var(--shadow);
		transform: translateY(-10%);
		-webkit-transform: translateY(-10%);
	}

	&:focus {
		outline: none;
	}
}

.results__btn {
	&--prev {
		float: left;

		.search__icon {
			margin-right: 1rem;
		}
	}

	&--next {
		float: right;

		.search__icon {
			margin-left: 1rem;
		}
	}
}

// ///////////////////////////////////////
// loader
.loader {
	margin: 5rem auto;
	text-align: center;

	i {
		display: inline-block;
		font-size: 3rem;
		color: var(--color-primary);
		transform-origin: 44% 50%;
		animation: rotate 1.5s infinite linear;
		-webkit-animation: rotate 1.5s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

// ///////////////////////////////////////
// popup
.show__popup {
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateY(0) !important;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000000, 0.98);
	z-index: 100;

	opacity: 0;
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s ease-in;

	&__header {
		position: relative;
		height: 10vh;
		width: 100%;
	}

	&__close {
		position: absolute;
		right: 2rem;
		font-size: 2rem;
		color: var(--color-white);
		top: 50%;
		transform: translateY(-50%);
	}

	&__content {
		position: relative;
		height: 90vh;
		width: 80vw;
		margin: 5vh auto;
		@media only screen and(max-width: $bp-small) {
			margin: 0 auto;
		}

		&-col {
			width: calc(100% / 2);
			float: left;

			@media only screen and(max-width: $bp-small) {
				width: 100%;
				float: none;
			}
		}

		&-img {
			height: 70vh;
			padding: 0 5rem;
			width: 100%;
			object-fit: contain;

			@media only screen and(max-width: $bp-medium) {
				padding: 2.5rem;
			}

			@media only screen and(max-width: $bp-small) {
				height: 40vh;
				padding: 0;
			}
		}

		&-description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 3rem;
			height: 70vh;
			color: var(--color-white);

			@media only screen and(max-width: $bp-medium) {
				margin: 4.5rem;
			}

			@media only screen and(max-width: $bp-small) {
				height: 40vh;
				margin: 0;
			}

			h2 {
				margin-top: 2rem;
				font-size: 2rem;
			}
		}

		&-title {
			font-size: 3.5rem;
			margin-top: 2rem;
		}

		&-story {
			margin-top: 0.5rem;
			font-size: 1.3rem;
		}

		&-ratings {
			margin-top: 2rem;
			font-size: 1.5rem;
			display: flex;
			flex-direction: column;
		}
	}
}
