.container {
	background-color: var(--color-white);
	width: 100%;
}

.header {
	width: 100%;
	height: 10rem;
	background-color: var(--color-white);
	border-bottom: var(--line);
	font-size: 1.4rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.result {
	background-color: var(--color-grey-light-2);
	flex: 1;
}

.row {
	width: 100%;
	margin: 0 auto 4rem auto;

	[class^="col-"] {
		float: left;
		margin: 2rem;

		@media only screen and (max-width: $bp-medium) {
			margin: 1rem;
		}
	}

	.col-1-of-4 {
		width: calc(((100%) / 4) - 4rem);

		@media only screen and (max-width: $bp-medium) {
			width: calc(((100%) / 2) - 2rem);
		}

		@media only screen and (max-width: $bp-small) {
			margin: 0;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
}
